# Pandas 조회, 타입 변경, 정렬, Indexer

In [1]:
import pandas as pd

<br/>
<br/>
<br/>
<br/>

### 데이터 읽기

In [2]:
# 'dataset' 폴더 안의 '데이터거래소_비대면소비.xlsx' 파일을 읽으세요.
df = pd.read_excel("./데이터거래소_비대면소비.xlsx")
df

         구분  성별 연령대_10세  유효회원수   매출건수       매출금액
0      커피DT  남성     10대    579   1034    8151880
1      커피DT  남성     20대  14622  34348  284493841
2      커피DT  남성     30대  13985  29618  273371443
3      커피DT  남성     40대   8396  17957  176828960
4      커피DT  남성     50대   4811   9321   96468570
..      ...  ..     ...    ...    ...        ...
68  무인아이스크림  여성     20대  32407  72198  310504265
69  무인아이스크림  여성     30대  31840  77156  429141529
70  무인아이스크림  여성     40대  34007  85111  503252280
71  무인아이스크림  여성     50대  17146  37425  223698580
72  무인아이스크림  여성   60대이상   8135  17432  104988320

[73 rows x 6 columns]

<br/>
<br/>
<br/>
<br/>

### 정보 조회하기

In [3]:
# 기본 정보를 조회하세요.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   구분       73 non-null     object
 1   성별       73 non-null     object
 2   연령대_10세  73 non-null     object
 3   유효회원수    73 non-null     int64
 4   매출건수     73 non-null     int64
 5   매출금액     73 non-null     int64
dtypes: int64(3), object(3)
memory usage: 3.5+ KB

In [4]:
# 통계 정보를 조회하세요.
df.describe()

               유효회원수          매출건수          매출금액
count      73.000000  7.300000e+01  7.300000e+01
mean    27849.452055  8.838970e+04  6.511471e+08
std     60397.780691  2.202762e+05  1.695796e+09
min        48.000000  9.600000e+01  7.531500e+05
25%      1179.000000  2.819000e+03  2.221300e+07
50%      4811.000000  1.247000e+04  6.586130e+07
75%     20170.000000  4.757100e+04  2.844938e+08
max    309429.000000  1.149950e+06  8.781597e+09

In [5]:
# 상위 5개의 행을 조회하세요.
df.head(5)

     구분  성별 연령대_10세  유효회원수   매출건수       매출금액
0  커피DT  남성     10대    579   1034    8151880
1  커피DT  남성     20대  14622  34348  284493841
2  커피DT  남성     30대  13985  29618  273371443
3  커피DT  남성     40대   8396  17957  176828960
4  커피DT  남성     50대   4811   9321   96468570

In [6]:
# '구분', '연령대_10세' 열의 마지막 10개의 행을 조회하세요.
df.loc[:,["구분","연령대_10세"]].tail(10)

         구분 연령대_10세
63  무인아이스크림     30대
64  무인아이스크림     40대
65  무인아이스크림     50대
66  무인아이스크림   60대이상
67  무인아이스크림     10대
68  무인아이스크림     20대
69  무인아이스크림     30대
70  무인아이스크림     40대
71  무인아이스크림     50대
72  무인아이스크림   60대이상

In [7]:
# '구분' 열의 고유값을 조회하세요.
df["구분"].unique()

array(['커피DT', '패스트푸드DT', '무인스터디카페', '무인카페', '무인편의점', '무인아이스크림'],
      dtype=object)

In [8]:
# '구분' 열의 고유값의 개수를 조회하세요.
df["구분"].nunique()

6

In [9]:
# '구분' 열의 값의 빈도수를 구하세요.
df["구분"].value_counts()

무인카페       13
커피DT       12
패스트푸드DT    12
무인스터디카페    12
무인편의점      12
무인아이스크림    12
Name: 구분, dtype: int64

In [43]:
# '연령대_10세' 를 '연령대' 로 변경하세요.
df = df.rename(columns={'연령대_10세' : '연령대'})
df

         구분  성별    연령대  유효회원수   매출건수       매출금액
0      커피DT  남성    10대    579   1034    8151880
1      커피DT  남성    20대  14622  34348  284493841
2      커피DT  남성    30대  13985  29618  273371443
3      커피DT  남성    40대   8396  17957  176828960
4      커피DT  남성    50대   4811   9321   96468570
..      ...  ..    ...    ...    ...        ...
68  무인아이스크림  여성    20대  32407  72198  310504265
69  무인아이스크림  여성    30대  31840  77156  429141529
70  무인아이스크림  여성    40대  34007  85111  503252280
71  무인아이스크림  여성    50대  17146  37425  223698580
72  무인아이스크림  여성  60대이상   8135  17432  104988320

[73 rows x 6 columns]

<br/>
<br/>
<br/>
<br/>

### 데이터 타입 변경

In [11]:
# 각 열의 데이터 타입을 조회하세요.
df.dtypes

구분       object
성별       object
연령대      object
유효회원수     int64
매출건수      int64
매출금액      int64
dtype: object

In [8]:
# '유효회원수' 열의 데이터 타입을 'int32' 로 변경하세요.
df['유효회원수'] = df['유효회원수'].astype('int32')
df.dtypes

구분         object
성별         object
연령대_10세    object
유효회원수       int32
매출건수        int64
매출금액        int64
dtype: object

<br/>
<br/>
<br/>
<br/>

### 정렬

In [17]:
# '매출금액' 이 가장 높은 10개의 행을 구하세요.
df.sort_values(by='매출금액',ascending=False).head(10)

         구분  성별    연령대   유효회원수     매출건수        매출금액
13  패스트푸드DT  남성    20대  309429  1149950  8781597018
14  패스트푸드DT  남성    30대  274030  1148255  8505865466
15  패스트푸드DT  남성    40대  188982   689632  5616111921
20  패스트푸드DT  여성    30대  179309   553159  4289948364
21  패스트푸드DT  여성    40대  147171   446388  3807712496
19  패스트푸드DT  여성    20대  175410   475069  3568170373
16  패스트푸드DT  남성    50대   91346   284533  2312972639
22  패스트푸드DT  여성    50대   75602   195126  1601017263
17  패스트푸드DT  남성  60대이상   33033   102743   779182012
64  무인아이스크림  남성    40대   37531   102639   660709055

In [19]:
# '연령대' 별 '매출금액' 을 내림차순으로 정렬하세요.
df.sort_values(['연령대','매출금액'],ascending=False)

         구분  성별    연령대  유효회원수    매출건수       매출금액
17  패스트푸드DT  남성  60대이상  33033  102743  779182012
23  패스트푸드DT  여성  60대이상  27590   69064  547558100
66  무인아이스크림  남성  60대이상  10219   23536  152481974
72  무인아이스크림  여성  60대이상   8135   17432  104988320
5      커피DT  남성  60대이상   1526    2937   31664919
..      ...  ..    ...    ...     ...        ...
36     무인카페  남성    10대   1541    5062   10120560
0      커피DT  남성    10대    579    1034    8151880
49    무인편의점  남성    10대    901    1954    8067200
42     무인카페  여성    10대   1304    3876    7913440
55    무인편의점  여성    10대    603    1332    4707950

[73 rows x 6 columns]

In [22]:
# '연령대' 는 오름차순, '매출금액' 은 내림차순으로 정렬하세요.
df.sort_values(by=['연령대','매출금액'],ascending=[True,False])

         구분  성별    연령대  유효회원수   매출건수       매출금액
12  패스트푸드DT  남성    10대  29684  85631  591263909
18  패스트푸드DT  여성    10대  20170  47515  282903911
61  무인아이스크림  남성    10대  14710  47571   89404480
67  무인아이스크림  여성    10대  12177  32043   74544720
30  무인스터디카페  여성    10대    733   1628   20446800
..      ...  ..    ...    ...    ...        ...
60    무인편의점  여성  60대이상    660   1260    8359450
29  무인스터디카페  남성  60대이상     55    162    5752400
41     무인카페  남성  60대이상    835   2819    5740450
35  무인스터디카페  여성  60대이상     48     96    4109510
47     무인카페  여성  60대이상    576   1749    3749830

[73 rows x 6 columns]

<br/>
<br/>
<br/>
<br/>

### Indexer

In [24]:
# '구분' 열을 loc 인덱서를 사용하여 선택하세요.
df.loc[:,'구분']

0        커피DT
1        커피DT
2        커피DT
3        커피DT
4        커피DT
       ...
68    무인아이스크림
69    무인아이스크림
70    무인아이스크림
71    무인아이스크림
72    무인아이스크림
Name: 구분, Length: 73, dtype: object

In [27]:
# '구분' 열을 iloc 인덱서를 사용하여 선택하세요.
df.iloc[:,0]

0        커피DT
1        커피DT
2        커피DT
3        커피DT
4        커피DT
       ...
68    무인아이스크림
69    무인아이스크림
70    무인아이스크림
71    무인아이스크림
72    무인아이스크림
Name: 구분, Length: 73, dtype: object

In [39]:
# '구분', '매출금액' 열을 loc 인덱서를 사용하여 선택하세요.
df.loc[:,['구분','매출금액']]

         구분       매출금액
0      커피DT    8151880
1      커피DT  284493841
2      커피DT  273371443
3      커피DT  176828960
4      커피DT   96468570
..      ...        ...
68  무인아이스크림  310504265
69  무인아이스크림  429141529
70  무인아이스크림  503252280
71  무인아이스크림  223698580
72  무인아이스크림  104988320

[73 rows x 2 columns]

In [38]:
# '구분', '매출금액' 열을 iloc 인덱서를 사용하여 선택하세요.
df.iloc[:,[0,-1]]

         구분       매출금액
0      커피DT    8151880
1      커피DT  284493841
2      커피DT  273371443
3      커피DT  176828960
4      커피DT   96468570
..      ...        ...
68  무인아이스크림  310504265
69  무인아이스크림  429141529
70  무인아이스크림  503252280
71  무인아이스크림  223698580
72  무인아이스크림  104988320

[73 rows x 2 columns]

In [43]:
# '구분', '매출금액' 열의 상위 5개 행을 조회하세요.
df.loc[:5,['구분','매출금액']]

     구분       매출금액
0  커피DT    8151880
1  커피DT  284493841
2  커피DT  273371443
3  커피DT  176828960
4  커피DT   96468570
5  커피DT   31664919

<br/>
<br/>

- 조건(condition) 인덱싱

In [44]:
# '구분' 열의 고유값을 조회하세요.
df["구분"].unique()

array(['커피DT', '패스트푸드DT', '무인스터디카페', '무인카페', '무인편의점', '무인아이스크림'],
      dtype=object)

In [45]:
# '구분' 열의 값이 '무인카페' 인 행을 조회하세요.
df[df["구분"]=='무인카페']

      구분  성별       연령대  유효회원수   매출건수      매출금액
36  무인카페  남성       10대   1541   5062  10120560
37  무인카페  남성       20대   8440  26261  57357760
38  무인카페  남성       30대   5612  16958  39042920
39  무인카페  남성       40대   4405  12878  32031030
40  무인카페  남성       50대   2497   8115  17361650
41  무인카페  남성     60대이상    835   2819   5740450
42  무인카페  여성       10대   1304   3876   7913440
43  무인카페  여성       20대   5168  12470  28476100
44  무인카페  여성       30대   3723   9623  23445330
45  무인카페  여성       40대   3609   9755  24094760
46  무인카페  여성       50대   1972   5563  12915320
47  무인카페  여성     60대이상    576   1749   3749830
48  무인카페  여성  6.70세 이상    116    315    753150

In [12]:
# 각 열별 데이터 타입을 조회하세요.
df.dtypes

구분         object
성별         object
연령대_10세    object
유효회원수       int32
매출건수        int64
매출금액        int64
dtype: object

In [17]:
# 데이터 타입이 'int64'인 열을 조회하세요.
df.loc[:,df.dtypes=='int64']

     매출건수       매출금액
0    1034    8151880
1   34348  284493841
2   29618  273371443
3   17957  176828960
4    9321   96468570
..    ...        ...
68  72198  310504265
69  77156  429141529
70  85111  503252280
71  37425  223698580
72  17432  104988320

[73 rows x 2 columns]

In [25]:
# '구분' 열의 값에 'DT' 가 포함된 행을 조회하세요.
df[df['구분'].str.contains('DT')]

         구분  성별 연령대_10세   유효회원수     매출건수        매출금액
0      커피DT  남성     10대     579     1034     8151880
1      커피DT  남성     20대   14622    34348   284493841
2      커피DT  남성     30대   13985    29618   273371443
3      커피DT  남성     40대    8396    17957   176828960
4      커피DT  남성     50대    4811     9321    96468570
5      커피DT  남성   60대이상    1526     2937    31664919
6      커피DT  여성     10대     905     1920    14797940
7      커피DT  여성     20대   14708    30903   272162112
8      커피DT  여성     30대   11918    24399   229221700
9      커피DT  여성     40대    7896    17085   167980874
10     커피DT  여성     50대    4197     7930    80676755
11     커피DT  여성   60대이상    1179     1980    22213000
12  패스트푸드DT  남성     10대   29684    85631   591263909
13  패스트푸드DT  남성     20대  309429  1149950  8781597018
14  패스트푸드DT  남성     30대  274030  1148255  8505865466
15  패스트푸드DT  남성     40대  188982   689632  5616111921
16  패스트푸드DT  남성     50대   91346   284533  2312972639
17  패스트푸드DT  남성   60대이상   33033   102743   779182012
18  패스트푸드DT  여성     10대   20170    47515   282903911
19  패스트푸드DT  여성     20대  175410   475069  3568170373
20  패스트푸드DT  여성     30대  179309   553159  4289948364
21  패스트푸드DT  여성     40대  147171   446388  3807712496
22  패스트푸드DT  여성     50대   75602   195126  1601017263
23  패스트푸드DT  여성   60대이상   27590    69064   547558100

In [26]:
# '구분' 열의 값에 '무인' 이 포함된 행을 조회하세요.
df[df['구분'].str.contains('무인')]

         구분  성별   연령대_10세  유효회원수    매출건수       매출금액
24  무인스터디카페  남성       10대    452    1070   16103570
25  무인스터디카페  남성       20대   1590    4504   89880940
26  무인스터디카페  남성       30대    468    1270   30984100
27  무인스터디카페  남성       40대    433    1374   43043540
28  무인스터디카페  남성       50대    511    1313   55886300
29  무인스터디카페  남성     60대이상     55     162    5752400
30  무인스터디카페  여성       10대    733    1628   20446800
31  무인스터디카페  여성       20대   1476    3563   65861300
32  무인스터디카페  여성       30대    340     920   17252800
33  무인스터디카페  여성       40대    669    1755   58930760
34  무인스터디카페  여성       50대    353     961   37017900
35  무인스터디카페  여성     60대이상     48      96    4109510
36     무인카페  남성       10대   1541    5062   10120560
37     무인카페  남성       20대   8440   26261   57357760
38     무인카페  남성       30대   5612   16958   39042920
39     무인카페  남성       40대   4405   12878   32031030
40     무인카페  남성       50대   2497    8115   17361650
41     무인카페  남성     60대이상    835    2819    5740450
42     무인카페  여성       10대   1304    3876    7913440
43     무인카페  여성       20대   5168   12470   28476100
44     무인카페  여성       30대   3723    9623   23445330
45     무인카페  여성       40대   3609    9755   24094760
46     무인카페  여성       50대   1972    5563   12915320
47     무인카페  여성     60대이상    576    1749    3749830
48     무인카페  여성  6.70세 이상    116     315     753150
49    무인편의점  남성       10대    901    1954    8067200
50    무인편의점  남성       20대   8683   22058  105409120
51    무인편의점  남성       30대   8703   23601  132770484
52    무인편의점  남성       40대   7191   17248  106818070
53    무인편의점  남성       50대   4367   10476   62926970
54    무인편의점  남성     60대이상   1575    3258   19427450
55    무인편의점  여성       10대    603    1332    4707950
56    무인편의점  여성       20대   4646   11578   52780842
57    무인편의점  여성       30대   3754    8924   45580880
58    무인편의점  여성       40대   3000    7247   44304660
59    무인편의점  여성       50대   1847    4402   22702710
60    무인편의점  여성     60대이상    660    1260    8359450
61  무인아이스크림  남성       10대  14710   47571   89404480
62  무인아이스크림  남성       20대  47292  133184  434313878
63  무인아이스크림  남성       30대  37057   99496  540976199
64  무인아이스크림  남성       40대  37531  102639  660709055
65  무인아이스크림  남성       50대  21155   50762  345259578
66  무인아이스크림  남성     60대이상  10219   23536  152481974
67  무인아이스크림  여성       10대  12177   32043   74544720
68  무인아이스크림  여성       20대  32407   72198  310504265
69  무인아이스크림  여성       30대  31840   77156  429141529
70  무인아이스크림  여성       40대  34007   85111  503252280
71  무인아이스크림  여성       50대  17146   37425  223698580
72  무인아이스크림  여성     60대이상   8135   17432  104988320

<br/>
<br/>

- 2가지 이상의 조건(condition) 인덱싱

In [32]:
# '매출건수' 가 '유효회원수' 의 3배보다 많은 행을 조회하세요.
df[df['매출건수']>df['유효회원수']*3]

         구분  성별 연령대_10세   유효회원수     매출건수        매출금액
13  패스트푸드DT  남성     20대  309429  1149950  8781597018
14  패스트푸드DT  남성     30대  274030  1148255  8505865466
15  패스트푸드DT  남성     40대  188982   689632  5616111921
16  패스트푸드DT  남성     50대   91346   284533  2312972639
17  패스트푸드DT  남성   60대이상   33033   102743   779182012
20  패스트푸드DT  여성     30대  179309   553159  4289948364
21  패스트푸드DT  여성     40대  147171   446388  3807712496
27  무인스터디카페  남성     40대     433     1374    43043540
36     무인카페  남성     10대    1541     5062    10120560
37     무인카페  남성     20대    8440    26261    57357760
38     무인카페  남성     30대    5612    16958    39042920
40     무인카페  남성     50대    2497     8115    17361650
41     무인카페  남성   60대이상     835     2819     5740450
47     무인카페  여성   60대이상     576     1749     3749830
61  무인아이스크림  남성     10대   14710    47571    89404480

In [40]:
# 패스트푸드DT를 이용하는 남성의 행을 조회하세요.
cond1 = df[df['구분'].isin(['패스트푸드DT'])]
cond2 = cond1[cond1['성별'].isin(['남성'])]
cond2

         구분  성별 연령대_10세   유효회원수     매출건수        매출금액
12  패스트푸드DT  남성     10대   29684    85631   591263909
13  패스트푸드DT  남성     20대  309429  1149950  8781597018
14  패스트푸드DT  남성     30대  274030  1148255  8505865466
15  패스트푸드DT  남성     40대  188982   689632  5616111921
16  패스트푸드DT  남성     50대   91346   284533  2312972639
17  패스트푸드DT  남성   60대이상   33033   102743   779182012

In [44]:
# 20대 여성의 행을 조회하세요.
cond1 = df[df['연령대'].isin(['20대'])]
cond2 = cond1[cond1['성별'].isin(['여성'])]
cond2

         구분  성별  연령대   유효회원수    매출건수        매출금액
7      커피DT  여성  20대   14708   30903   272162112
19  패스트푸드DT  여성  20대  175410  475069  3568170373
31  무인스터디카페  여성  20대    1476    3563    65861300
43     무인카페  여성  20대    5168   12470    28476100
56    무인편의점  여성  20대    4646   11578    52780842
68  무인아이스크림  여성  20대   32407   72198   310504265

In [46]:
# 20, 30대 중 유효회원수가 30000 이상인 행을 조회하세요.
cond1 = df[df['연령대'].isin(['20대','30대'])]
cond2 = cond1[cond1['유효회원수']>30000]
cond2

         구분  성별  연령대   유효회원수     매출건수        매출금액
13  패스트푸드DT  남성  20대  309429  1149950  8781597018
14  패스트푸드DT  남성  30대  274030  1148255  8505865466
19  패스트푸드DT  여성  20대  175410   475069  3568170373
20  패스트푸드DT  여성  30대  179309   553159  4289948364
62  무인아이스크림  남성  20대   47292   133184   434313878
63  무인아이스크림  남성  30대   37057    99496   540976199
68  무인아이스크림  여성  20대   32407    72198   310504265
69  무인아이스크림  여성  30대   31840    77156   429141529

In [59]:
# 유효회원수가 30000 이상이거나 매출건수가 유효회원수의 3배 이상인 행을 조회하세요.
cond1 = df['유효회원수']>30000
cond2 = df['매출건수']>df['유효회원수']*3
df[cond1|cond2]

         구분  성별    연령대   유효회원수     매출건수        매출금액
13  패스트푸드DT  남성    20대  309429  1149950  8781597018
14  패스트푸드DT  남성    30대  274030  1148255  8505865466
15  패스트푸드DT  남성    40대  188982   689632  5616111921
16  패스트푸드DT  남성    50대   91346   284533  2312972639
17  패스트푸드DT  남성  60대이상   33033   102743   779182012
19  패스트푸드DT  여성    20대  175410   475069  3568170373
20  패스트푸드DT  여성    30대  179309   553159  4289948364
21  패스트푸드DT  여성    40대  147171   446388  3807712496
22  패스트푸드DT  여성    50대   75602   195126  1601017263
27  무인스터디카페  남성    40대     433     1374    43043540
36     무인카페  남성    10대    1541     5062    10120560
37     무인카페  남성    20대    8440    26261    57357760
38     무인카페  남성    30대    5612    16958    39042920
40     무인카페  남성    50대    2497     8115    17361650
41     무인카페  남성  60대이상     835     2819     5740450
47     무인카페  여성  60대이상     576     1749     3749830
61  무인아이스크림  남성    10대   14710    47571    89404480
62  무인아이스크림  남성    20대   47292   133184   434313878
63  무인아이스크림  남성    30대   37057    99496   540976199
64  무인아이스크림  남성    40대   37531   102639   660709055
68  무인아이스크림  여성    20대   32407    72198   310504265
69  무인아이스크림  여성    30대   31840    77156   429141529
70  무인아이스크림  여성    40대   34007    85111   503252280