In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

plt.rc('font', family='NanumBarunGothic')

# 1. 데이터 불러오기

In [7]:
first = pd.read_csv('gas_first_2019.csv', encoding='euc-kr')
second = pd.read_csv('gas_second_2019.csv', encoding='euc-kr')

In [8]:
# 상반기 주유소 판매 데이터 불러오기
first

,번호,지역,상호,주소,기간,상표,셀프여부,고급휘발유,휘발유,경유,실내등유
0,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190101,SK에너지,셀프,1673,1465,1365,0
1,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190102,SK에너지,셀프,1673,1465,1365,0
2,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190103,SK에너지,셀프,1673,1465,1365,0
3,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190104,SK에너지,셀프,1673,1465,1365,0
4,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190105,SK에너지,셀프,1673,1465,1365,0
...,...,...,...,...,...,...,...,...,...,...,...
90585,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20190626,GS칼텍스,셀프,0,1529,1389,0
90586,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20190627,GS칼텍스,셀프,0,1529,1389,0
90587,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20190628,GS칼텍스,셀프,0,1529,1389,0
90588,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20190629,GS칼텍스,셀프,0,1529,1389,0
90589,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20190630,GS칼텍스,셀프,0,1529,1389,0

In [9]:
second

,번호,지역,상호,주소,기간,상표,셀프여부,고급휘발유,휘발유,경유,실내등유
0,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190701,SK에너지,셀프,1777,1577,1477,0
1,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190702,SK에너지,셀프,1777,1577,1477,0
2,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190703,SK에너지,셀프,1777,1577,1477,0
3,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190704,SK에너지,셀프,1777,1577,1477,0
4,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190705,SK에너지,셀프,1777,1577,1477,0
...,...,...,...,...,...,...,...,...,...,...,...
91119,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20191227,GS칼텍스,셀프,0,1540,1389,1100
91120,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20191228,GS칼텍스,셀프,0,1540,1389,1100
91121,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20191229,GS칼텍스,셀프,0,1540,1389,1100
91122,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20191230,GS칼텍스,셀프,0,1540,1389,1100
91123,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20191231,GS칼텍스,셀프,0,1540,1389,1100

In [10]:
# 상반기 판매가격 데이터 프레임 결측치 조회
first.isna().sum()

번호       0
지역       0
상호       0
주소       0
기간       0
상표       0
셀프여부     0
고급휘발유    0
휘발유      0
경유       0
실내등유     0
dtype: int64

In [11]:
# 하반기 판매가격 데이터 프레임 결측치 조회
second.isna().sum()

번호       0
지역       0
상호       0
주소       0
기간       0
상표       0
셀프여부     0
고급휘발유    0
휘발유      0
경유       0
실내등유     0
dtype: int64

# 2. 데이터 결합

In [12]:
# 상반기와 하반기 데이터를 상하로 결합
df = pd.concat([first, second]).reset_index()
df

,index,번호,지역,상호,주소,기간,상표,셀프여부,고급휘발유,휘발유,경유,실내등유
0,0,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190101,SK에너지,셀프,1673,1465,1365,0
1,1,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190102,SK에너지,셀프,1673,1465,1365,0
2,2,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190103,SK에너지,셀프,1673,1465,1365,0
3,3,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190104,SK에너지,셀프,1673,1465,1365,0
4,4,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190105,SK에너지,셀프,1673,1465,1365,0
...,...,...,...,...,...,...,...,...,...,...,...,...
181709,91119,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20191227,GS칼텍스,셀프,0,1540,1389,1100
181710,91120,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20191228,GS칼텍스,셀프,0,1540,1389,1100
181711,91121,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20191229,GS칼텍스,셀프,0,1540,1389,1100
181712,91122,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20191230,GS칼텍스,셀프,0,1540,1389,1100
181713,91123,A0032659,서울 중랑구,지에스칼텍스㈜ 소망주유소,서울 중랑구 망우로 475,20191231,GS칼텍스,셀프,0,1540,1389,1100

# 3. 데이터 가공 및 분석

In [13]:
# 데이터 프레임 정보 조회
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181714 entries, 0 to 181713
Data columns (total 12 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   index   181714 non-null  int64
 1   번호      181714 non-null  object
 2   지역      181714 non-null  object
 3   상호      181714 non-null  object
 4   주소      181714 non-null  object
 5   기간      181714 non-null  int64
 6   상표      181714 non-null  object
 7   셀프여부    181714 non-null  object
 8   고급휘발유   181714 non-null  int64
 9   휘발유     181714 non-null  int64
 10  경유      181714 non-null  int64
 11  실내등유    181714 non-null  int64
dtypes: int64(6), object(6)
memory usage: 16.6+ MB

In [14]:
# 상표 컬럼의 값(value) 분포 조회 
df["상표"].value_counts()

SK에너지     71062
GS칼텍스     49494
현대오일뱅크    28583
S-OIL     27027
알뜰주유소      4021
자가상표        982
알뜰(ex)      365
NH-OIL      180
Name: 상표, dtype: int64

In [15]:
# 지역 컬럼의 값(value) 분포 조회 
df["지역"].value_counts()

서울 강남구     14597
서울 서초구     13762
서울 강서구     12572
서울 영등포구    11667
서울 송파구     11630
서울 양천구      9149
서울 성북구      8080
서울 동대문구     7996
서울 구로구      7917
서울 도봉구      6711
서울 광진구      6450
서울 은평구      6199
서울 성동구      6192
서울 관악구      5997
서울 강동구      5897
서울 중랑구      5719
서울 서대문구     5594
서울 노원구      5466
서울 용산구      5439
서울 금천구      4738
서울 강북구      4736
서울 중구       4235
서울 마포구      4051
서울 동작구      3644
서울 종로구      3276
Name: 지역, dtype: int64

tip.
1. apply를 활용합니다.
2. split을 활용합니다.

예시)
<br>df['지역'].apply(split_place).str[0] ==> 앞단어
<br>df['지역'].apply(split_place).str[0] ==> 뒷단어

In [16]:
# 지역 컬럼의 값을 이용하여 시와 구를 분리
df["시"] = df['지역'].str.split(" ").str[0]
df["구"] = df['지역'].str.split(" ").str[1]
df.head()

,index,번호,지역,상호,주소,기간,상표,셀프여부,고급휘발유,휘발유,경유,실내등유,시,구
0,0,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190101,SK에너지,셀프,1673,1465,1365,0,서울,강남구
1,1,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190102,SK에너지,셀프,1673,1465,1365,0,서울,강남구
2,2,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190103,SK에너지,셀프,1673,1465,1365,0,서울,강남구
3,3,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190104,SK에너지,셀프,1673,1465,1365,0,서울,강남구
4,4,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190105,SK에너지,셀프,1673,1465,1365,0,서울,강남구

In [17]:
# 시 컬럼의 서울을 서울특별시로 변환
def f1(x):
    if x =="서울": return "서울특별시"
df["시"] = df["시"].apply(f1)
df.head()

,index,번호,지역,상호,주소,기간,상표,셀프여부,고급휘발유,휘발유,경유,실내등유,시,구
0,0,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190101,SK에너지,셀프,1673,1465,1365,0,서울특별시,강남구
1,1,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190102,SK에너지,셀프,1673,1465,1365,0,서울특별시,강남구
2,2,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190103,SK에너지,셀프,1673,1465,1365,0,서울특별시,강남구
3,3,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190104,SK에너지,셀프,1673,1465,1365,0,서울특별시,강남구
4,4,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190105,SK에너지,셀프,1673,1465,1365,0,서울특별시,강남구

In [18]:
# 휘발유 가격이 비싼 5개 판매가격을 출력하세요.
df.sort_values("휘발유", ascending=False).head(5)

,index,번호,지역,상호,주소,기간,상표,셀프여부,고급휘발유,휘발유,경유,실내등유,시,구
177210,86620,A0000767,서울 중구,서남주유소,서울 중구 통일로 30,20190924,SK에너지,일반,2649,2356,2196,0,서울특별시,중구
177216,86626,A0000767,서울 중구,서남주유소,서울 중구 통일로 30,20190930,SK에너지,일반,2699,2356,2196,0,서울특별시,중구
177217,86627,A0000767,서울 중구,서남주유소,서울 중구 통일로 30,20191001,SK에너지,일반,2699,2356,2196,0,서울특별시,중구
177211,86621,A0000767,서울 중구,서남주유소,서울 중구 통일로 30,20190925,SK에너지,일반,2649,2356,2196,0,서울특별시,중구
177212,86622,A0000767,서울 중구,서남주유소,서울 중구 통일로 30,20190926,SK에너지,일반,2699,2356,2196,0,서울특별시,중구

In [19]:
# 휘발유 가격이 저렴한 5개 판매가격을 출력하세요. (단 휘발유가 0원인 데이터는 제외)
df[df["휘발유"]!=0].sort_values("휘발유").head(5)

,index,번호,지역,상호,주소,기간,상표,셀프여부,고급휘발유,휘발유,경유,실내등유,시,구
13148,13148,A0033328,서울 강서구,KH에너지(주)직영 KH외발산주유소,서울 강서구 방화대로 30,20190207,SK에너지,셀프,1788,1255,1155,0,서울특별시,강서구
82475,82475,A0000605,서울 은평구,삼융주유소,서울 은평구 수색로 299 (수색동),20190131,SK에너지,일반,0,1260,1160,0,서울특별시,은평구
82474,82474,A0000605,서울 은평구,삼융주유소,서울 은평구 수색로 299 (수색동),20190130,SK에너지,일반,0,1260,1160,0,서울특별시,은평구
82476,82476,A0000605,서울 은평구,삼융주유소,서울 은평구 수색로 299 (수색동),20190201,SK에너지,일반,0,1260,1160,0,서울특별시,은평구
82998,82998,A0000690,서울 은평구,지에스칼텍스(주)수색뉴타운주유소,서울 은평구 수색로 350 (수색동),20190126,GS칼텍스,셀프,0,1265,1165,0,서울특별시,은평구

In [30]:
# 상표별 평균 휘발유 가격을 계산하세요.
df.groupby("상표", as_index=False)[["휘발유"]].agg("mean")

       상표          휘발유
0   GS칼텍스  1564.029014
1  NH-OIL  1449.088889
2   S-OIL  1532.302882
3   SK에너지  1612.147153
4  알뜰(ex)  1431.347945
5   알뜰주유소  1447.875902
6    자가상표  1492.085540
7  현대오일뱅크  1515.458244

In [31]:
# 상표와 셀프여부별 평균 휘발유 가격을 계산하세요.
df.groupby(["상표", "셀프여부"])[["휘발유"]].agg("mean")

                     휘발유
상표     셀프여부
GS칼텍스  셀프    1481.410074
       일반    1610.060123
NH-OIL 일반    1449.088889
S-OIL  셀프    1481.437428
       일반    1579.451162
SK에너지  셀프    1504.853863
       일반    1690.377765
알뜰(ex) 셀프    1431.347945
알뜰주유소  셀프    1434.726027
       일반    1455.372511
자가상표   셀프    1494.409449
       일반    1491.740351
현대오일뱅크 셀프    1483.546767
       일반    1534.254225

In [32]:
# 지역별 평균 휘발유 가격을 계산하세요
df.groupby("구")["휘발유"].agg("mean")

구
강남구     1713.093581
강동구     1576.685264
강북구     1453.517525
강서구     1488.818088
관악구     1518.128564
광진구     1490.597054
구로구     1525.410383
금천구     1477.121992
노원구     1531.221551
도봉구     1494.171062
동대문구    1506.833542
동작구     1512.470911
마포구     1689.755616
서대문구    1528.943332
서초구     1577.131304
성동구     1583.659561
성북구     1507.948267
송파구     1518.957954
양천구     1512.890261
영등포구    1568.279506
용산구     1882.049825
은평구     1481.964026
종로구     1838.554945
중구      1976.948052
중랑구     1469.009092
Name: 휘발유, dtype: float64

In [39]:
# pivot_table 함수를 이용하여 구와 상표 컬럼을 이용하여 평균 휘발유 가격을 계산하세요
df.pivot_table(index = "구",  
                columns="상표", 
               values = "휘발유",
                aggfunc='mean')

상표,GS칼텍스,NH-OIL,S-OIL,SK에너지,알뜰(ex),알뜰주유소,자가상표,현대오일뱅크
구,,,,,,,,
강남구,1687.445077,NaN,1684.525114,1746.478287,NaN,NaN,NaN,1684.545753
강동구,1549.105811,NaN,1555.941096,1607.403213,NaN,NaN,NaN,1560.321113
강북구,1446.585701,NaN,1435.538732,1467.980274,NaN,NaN,NaN,1449.887397
강서구,1477.505288,NaN,1506.668194,1510.680700,NaN,1428.951598,NaN,1460.318356
관악구,1531.758242,NaN,1507.889041,1528.688822,NaN,1461.147945,NaN,1509.536301
광진구,1500.185205,NaN,1461.713615,1520.164208,NaN,1445.307692,NaN,1461.032877
구로구,1616.378082,NaN,1499.692848,1530.409716,NaN,1454.550685,NaN,1489.084611
금천구,1450.796161,NaN,1452.515982,1532.235213,NaN,1450.621918,NaN,1456.960274
노원구,1515.491059,NaN,1496.448402,1555.002740,NaN,NaN,NaN,1610.630137
도봉구,1479.968391,NaN,1482.898821,1470.731360,NaN,NaN,NaN,1552.755312
동대문구,1482.921005,NaN,1513.856164,1501.047978,NaN,NaN,NaN,1536.548193
동작구,1491.727854,NaN,1498.509589,1550.445463,NaN,NaN,NaN,1500.009149
마포구,1542.232877,NaN,1703.961644,1722.209230,NaN,NaN,NaN,1590.736842
서대문구,1488.536986,NaN,1525.858447,1573.783000,NaN,NaN,NaN,1450.385429
서초구,1531.846440,1449.088889,1607.371539,1650.836803,1431.347945,NaN,NaN,1497.570853
성동구,1698.649315,NaN,1476.755158,1592.397250,NaN,NaN,1468.419178,1564.228767
성북구,1483.956593,NaN,1628.650892,1498.780043,NaN,1426.104110,NaN,1463.980795
송파구,1494.918242,NaN,1494.022928,1555.258816,NaN,NaN,NaN,1483.088251
양천구,1460.275064,NaN,1469.628319,1555.019054,NaN,1436.164384,NaN,1483.711637
영등포구,1600.767985,NaN,1479.931507,1605.011353,NaN,1442.375342,NaN,1456.129808
용산구,1782.320485,NaN,NaN,1930.314932,NaN,NaN,NaN,1950.587662
은평구,1475.485403,NaN,1466.973973,1501.603004,NaN,NaN,1528.918200,1449.515068
종로구,2075.332877,NaN,1605.651452,1898.578875,NaN,NaN,NaN,1586.572603
중구,2091.866438,NaN,1783.369863,2060.617512,NaN,1601.552743,1418.859375,1711.669903
중랑구,1467.271554,NaN,1473.182410,1480.476675,NaN,1382.555556,NaN,1435.509589